/* Use this mixin to reset your grid by example for your mobile grid */
/* The clearfix mixin is necessary for the floats */
html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  color: #333;
  font: 16px "Helvetica Neue", Arial, sans-serif; }

body {
  line-height: 1.5em; }
  @media only screen and (max-width: 960px) {
    body {
      font-size: 15px; } }
  @media only screen and (max-width: 520px) {
    body {
      font-size: 14px; } }

p {
  margin-bottom: 1.25em; }

.l-full {
  float: left;
  width: 95.83333%;
  margin-left: 2.08333%;
  margin-right: 2.08333%; }
  @media only screen and (max-width: 520px) {
    .l-full {
      clear: both;
      float: none;
      margin-left: 0;
      margin-right: 0;
      width: auto; } }

.l-two-third {
  float: left;
  width: 62.5%;
  margin-left: 2.08333%;
  margin-right: 2.08333%; }
  @media only screen and (max-width: 520px) {
    .l-two-third {
      clear: both;
      float: none;
      margin-left: 0;
      margin-right: 0;
      width: auto; } }

.l-half {
  float: left;
  width: 45.83333%;
  margin-left: 2.08333%;
  margin-right: 2.08333%; }
  @media only screen and (max-width: 520px) {
    .l-half {
      clear: both;
      float: none;
      margin-left: 0;
      margin-right: 0;
      width: auto; } }

.l-one-third {
  float: left;
  width: 29.16667%;
  margin-left: 2.08333%;
  margin-right: 2.08333%; }
  @media only screen and (max-width: 520px) {
    .l-one-third {
      clear: both;
      float: none;
      margin-left: 0;
      margin-right: 0;
      width: auto; } }

.l-first {
  clear: left; }

div.container {
  *zoom: 1;
  max-width: auto/16pxem;
  margin: auto;
  padding: 2.5em; }
  div.container:before, div.container:after {
    display: block;
    height: 0 !important;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    content: "."; }
  div.container:after {
    clear: both; }
